name: Generate Table of Contents

on:
  push:
    branches: [ main, master ]
    paths: [ 'README.md' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate TOC
        uses: technote-space/toc-generator@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_PATHS: |
            README.md
          MAX_HEADER_LEVEL: 3
          CREATE_PR: false
          COMMIT_MESSAGE: 'docs(readme): auto-update ToC'
